<footer>

    <div class="contenedor-footer">

   <div class="top-nav">
            <ul>
                <li class="inicio" type="none"><a href="/homeOficial">Inicio</a></li>
                <li type="none"><a href="/homeOficial#nosotros">Nosotros</a></li>
                <li type="none"><a href="/productos/catalogoLogueado">Productos</a></li>
            </ul>
    </div>
    
        <div class="bottom-nav" id="contacto">
            <p>Contactanos</p>
            <input class="footer-menu" type="email" placeholder="tu email">
            <button type="submit">Suscribite</button>
        </div>

        <div class="linea-divisoria4">

        <div class="social-network">
            <ul>
                <li type="none"><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
                <li type="none"><a href="https://es-la.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                <li type="none"><a href="https://twitter.com/i/flow/login"><i class="fa-brands fa-twitter"></i></li>
            </ul>
        </div>

    </div>

</footer>
