<header>

    <article class="header-tres">
     <img class="logo" src="/img/logo-HC2.png" alt="logo">
        <div class="buscador-bar">
            <input class="buscador" type="search" name="busqueda" placeholder="Buscar...">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="carrito">
            <a href="/usuarios/iniciarsesion"><i class="fas fa-shopping-cart"></i></a>
        </div>

        <div class="user">
            <a href="/usuarios/iniciarsesion"><i class="fas fa-user-circle"></i></a>
        </div>

    </article>

    <nav>
        <ul>
            <li type="none"> <a href="/"> Inicio </a> </li>
            <li type="none"> <a href="/#nosotros"> Nosotros </a> </li>
            <li type="none"> <a href="/productos/catalogo"> Productos </a> </li>
            <li type="none"> <a href="#contacto"> Contacto </a> </li>
        </ul>
    </nav>

    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>

</header>
