:root {
    --dark-violet: #242F62;
    --gray-violet: #394476;
    --light-violet: #8000FF;
    --salmon: #FF715B;
    --light-gray: #EDF2F4;
    --white: #FFFFFF;
}


body {
    background-color: #FFFFFF;
    margin: 0px;
}

p {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

header {
    background-color: #242F62;
    margin-bottom: 5%;
    box-sizing: border-box;
}

.logo {
    width: 35%;
}

.carrito i {
    color: #FF715B;
    display: inline;
    font-size: 2ch;
    text-align: center;
    align-items: center;
}

.carrito {
    margin-top: 4.5px;
}


a {
    text-decoration: none;
}


.burger-menu {
    background-color: #394476;
    justify-content: center;
    text-align: center;
    height: 50px;
}

.fa-bars {
    color: #FF715B;
    font-size: 1.2em;
    padding: 15px;
    border-radius: 15%;
}

nav {
    margin-top: auto;
}

/* Body */

.foto-producto {
    border: none;
    padding: 50% 40%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.foto-producto:hover {
    background-color: #FF715B;
    opacity: 60%;
    font-size: 70%;
    margin: auto;
    padding: 50% 0%;
}

.subir {
    display: none;
    list-style: none;
    font-size: 70%;
}

.subir input {
    font-family: "Montserrat", sans-serif;
}

.foto-producto:hover .subir{
    display: block;
    margin: auto;
}

label{
    display: inline-block;
    margin-top: 5%;
    font-size: 20px;
}

.boton-crear {
    width: 30vw;
    font-family:'Lucida Sans';
    font-size: 15px;
    color: white;
    background-color:#6f0cd2;
    border: none;
    border-radius: 5px;
}

.boton-crear:hover{
    box-shadow: inset 0 100px #33007f;
}

div .crea-archivo {
    display: flex;
    justify-items: center;
    align-items: center;
}

main h2 {
    font-family: "Lilita One";
    font-size: 18px;
    color: var(--light-violet);
    margin: 10px 20px;
}

div .left-options {
    display: block;
    text-align: center;
    width: 90%;
    padding: 10px;
    margin: auto;
}

div .right-options {
    display: block;
    text-align: center;
    margin-left: 10px;
    padding: 5px 10px;
    font-family: "Monserrat";
    font-weight: bold;
    font-size: 15px;
    color: var(--gray-violet);
    margin: auto;
}

.right-options input {
    width: 90%;
    font-family: "Monserrat";
    border-color: var(--salmon);
    padding-left: 20px;
    border-radius: 7px;
    outline: none;;
}

.right-options select {
    width: 90%;
    font-family: "Monserrat";
    border-color: var(--salmon);
    border-width: 2px;
    border-radius: 7px;
}

.right-options textarea {
    color: gray;
    font-family: "Monserrat";
    width: 90%;
    border-width: 2px;
    border-color: var(--salmon);
    border-radius: 7px;
}

form select {
    color: gray;
    width: 90%;
}

/* Fin de Body */

@media (max-width: 425px) {


    .categoria-pais {
        display: none;
    }

    main section article h4,
    nav ul {
        display: none;
    }

    .user {
        display: none;
    }

    .header-tres {
        margin: 0px 20px 5px 0px;
        padding: 30px 0px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .logo {
        width: 20%;
        margin-left: 32px;
    }

    .buscador-bar {
        display: flex;
        position: relative;
        align-items: center;
        margin-right: 3px;
        padding: 0px 15px;
    }

    .buscador-bar input {
        padding: 7px;
        width: 100%;
        border-radius: 1.8ch;
        outline: none;
    }

    .buscador-bar i {
        position: absolute;
        font-size: 10px;
        right: 23px;
        top: 9px;
        font-weight: bold;
        color: #FF715B;
    }

    .buscador {
        display: inline;
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        border: solid 1px #ebebeb;
        align-items: center;
    }

    .carrito i {
        color: #FF715B;
        display: inline;
        padding-right: 18px;
        text-align: center;
        align-items: center;
    }

    .foto-producto {
        border: none;
        padding:50% 40%;
        border-radius: 5px;
    }
    
    .foto-producto:hover {
        background-color: #FF715B;
        opacity: 60%;
        font-size: 80%;
        margin: auto;
        padding: 50% 10%;
    }


    footer {
        background-color: #242F62;
        margin-top: 3%;
    }

    .contenedor-footer {
        margin: 0px 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .top-nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        margin: 24px 35px 30px 10px;
    }

    .top-nav li a {
        font-family: 'Lilita One';
        color: #EDF2F4;
        font-size: 15px;
        margin: 1ch;
        padding: 8px 15px;
        border-top: solid 2px #8000FF;
        border-bottom: solid 2px #8000FF;
        border-radius: 1.5ch;
    }
    
    .top-nav li a:hover {
        display: flex;
        box-shadow: inset 0 100px #8000FF;
        border-radius: 10ch;
        height: 48px;
    }
    
    .bottom-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 30px 0px;
    }


    .bottom-nav p {
        position: relative;
        display: inline-flex;
        font-family: 'Lilita One';
        color: #EDF2F4;
        font-size: 13px;
        margin: 0px 0px 0px 25px;
        align-items: center;
    }

    .bottom-nav input {
        position: relative;
        width: 300px;
        background-color: black;
        color: #EDF2F4;
        border: solid 1px black;
        border-radius: 2ch;
        left: 7px;
        z-index: 5;
        padding: 2px 0px 1.5px 5px;
        font-size: 13px;
    }

    .bottom-nav button {
        position: relative;
        width: 35%;
        background-color: #8000FF;
        color: #EDF2F4;
        border-radius: 2ch;
        border: solid 1px #8000FF;
        z-index: 10;
        font-size: 14px;
        right: 20px;
    }

    .bottom-nav button:hover {
        box-shadow: inset 0 12px 12px -12px #394476;
    }

    .linea-divisoria4 {
        border: 0;
        height: 12px;
        margin: 25px 0px;
        box-shadow: inset 0 12px 12px -12px #EDF2F4;
    }


    .social-network ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 26px 20px 0px;
    }

    .social-network ul li {
        margin: 0px 30px;
        padding-right: 10px;
    }

    .inicio {
        padding-right: 3px;
    }

    .social-network ul li i {
        color: #FF715B;
    }
}

@media (min-width: 426px) {

    .burger-menu {
        display: none;
    }

    .fa-bars {
        display: none;
    }

    .header-tres {
        margin: 0px 20px 5px 0px;
        padding: 30px 0px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .logo {
        display: inline-flex;
        width: 22%;
        margin-left: 25px;
    }

    .buscador-bar {
        display: flex;
        position: relative;
        align-items: center;
    }

    .buscador-bar input {
        font-family: 'Montserrat', sans-serif;
        margin-right: 10px;
        padding-left: 5px;
        width: 250px;
        height: 33px;
        border-radius: 1ch;
    }

    .buscador-bar i {
        position: absolute;
        font-size: 13px;
        right: 20px;
        top: 10px;
        font-weight: bold;
        color: #FF715B;
    }

    .buscador {
        display: inline;
        font-family: "Roboto", "sans-serif";
        font-size: 13px;
        border: solid 1px #ebebeb;
        align-items: center;
    }

    .carrito i {
        color: #FF715B;
        display: inline-flex;
        text-align: center;
        align-items: center;
    }

    .user i {
        display: inline-flex;
        color: #414d86;
        font-size: 23.8px;
        margin-right: 15px;
        display: inline-flex;
        text-align: center;
        align-items: center;
        padding: 5px;
    }

    .fa-user i {
        display: inline-flex;
        color: #414d86;
        font-size: 23.8px;
        margin-right: 15px;
        display: inline-flex;
        text-align: center;
        align-items: center;
        padding: 5px;
    }

    nav {
        background-color: #394476;
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        margin-top: 10px;
        padding: 10px 0px;
    }

    nav ul li {
        display: inline-flex;
        justify-content: space-around;
        margin: 0px 30px;
        padding-right: 20px;
        font-size: 12px;
    }

    nav ul li a {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }


    nav ul li a:hover {
        color: #FF715B;
    }

    .sub-menu {
        position: absolute;
        display: none;
        list-style: none;
        width: 140px;
        top: 21%;
        padding: 0px;
        background-color: #394476;
        z-index: 1;
    }

    nav ul li:hover .sub-menu {
        display: block;
    }

    .sub-menu li a {
        display: block;
        font-family: 'Montserrat', sans-serif;
        color: white;
        padding: 15px 20px 15px 0px;
        font-weight: normal;
        text-decoration: none;
    }

    .sub-menu li:hover {
        background-color: #242F62;
        width: inherit;
        margin: auto;
    }

    .sub-menu li:hover a {
        color: #FF715B;
        margin: 10px;
    }

    main {
        width: 100%;
    }

    .crea-archivo {
        margin-top: 20px;
        align-items: center;
    }

    main h2 {
        margin-top: 20px;
        padding: 20px;
        font-size: 32px;
    }

    .left-options {
        margin-top: 20px;
    }

    .foto-producto {
        border: none;
        padding:50% 40%;
        border-radius: 5px;
    }
    
    .foto-producto:hover {
        background-color: #FF715B;
        opacity: 60%;
        font-size: 70%;
        margin: auto;
        padding: 50% 20%;
    }

    .subir {
        display: none;
        list-style: none;
        font-size: 80%;
    }

    div .right-options{
        width: 60%;
        margin: auto;
    }

    .boton-crear {
        width: 80px;
        height: 30px;
    }

    footer {
        background-color: #242F62;
        margin-top: 3%;
    }

    .contenedor-footer {
        margin: 0px 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .top-nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        margin: 24px 35px 30px 10px;
    }

    .top-nav li a:hover {
        display: flex;
        box-shadow: inset 0 100px #8000FF;
        border-radius: 10ch;
        height: 48px;
    }


    .top-nav li a {
        font-family: 'Lilita One';
        color: #EDF2F4;
        font-size: 15px;
        margin: 1ch;
        padding: 8px 20px;
        border-top: solid 2px #8000FF;
        border-bottom: solid 2px #8000FF;
        border-radius: 1.5ch;
    }

    .bottom-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 30px 0px;
    }

    .bottom-nav p {
        position: relative;
        display: inline-flex;
        font-family: 'Lilita One';
        color: #EDF2F4;
        font-size: 18px;
        margin: 0px 20px 2px 20px;
        align-items: center;
    }

    .bottom-nav input {
        position: relative;
        width: 220px;
        background-color: black;
        color: #EDF2F4;
        border: solid 1px black;
        border-radius: 2ch;
        left: 22px;
        z-index: 5;
        padding: 5px 0px 5px 5px;
        font-size: 13px;
    }

    .bottom-nav button {
        position: relative;
        width: 100px;
        background-color: #8000FF;
        color: #EDF2F4;
        border-radius: 2ch;
        border: solid 1px #8000FF;
        z-index: 10;
        font-size: 14px;
        padding: 5px 0px;
    }

    .bottom-nav button:hover {
        box-shadow: inset 0 12px 12px -12px #394476;
    }

    .linea-divisoria4 {
        border: 0;
        height: 12px;
        margin: 25px 0px;
        box-shadow: inset 0 12px 12px -12px #EDF2F4;
    }


    .social-network ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 26px 20px 0px;
    }

    .social-network ul li {
        margin: 0px 30px;
        padding-right: 10px;
    }

    .inicio {
        padding-right: 3px;
    }

    .social-network ul li i {
        color: #FF715B;
    }
}


@media(min-width: 769px) {

    .burger-menu {
        display: none;
    }

    .fa-bars {
        display: none;
    }

    .header-tres {
        margin: 0px 20px 5px 0px;
        padding: 30px 0px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .logo {
        display: inline-flex;
        width: 18%;
        margin-left: 25px;
    }

    .buscador-bar {
        display: flex;
        position: relative;
        align-items: center;
    }

    .buscador-bar input {
        font-family: 'Montserrat', sans-serif;
        margin-right: 10px;
        padding-left: 5px;
        width: 250px;
        height: 33px;
        border-radius: 1ch;
    }

    .buscador-bar i {
        position: absolute;
        font-size: 13px;
        right: 20px;
        top: 10px;
        font-weight: bold;
        color: #FF715B;
    }

    .buscador {
        display: inline;
        font-family: "Roboto", "sans-serif";
        font-size: 13px;
        border: solid 1px #ebebeb;
        align-items: center;
    }

    .carrito i {
        color: #FF715B;
        display: inline-flex;
        margin-left: 12px;
        text-align: center;
        align-items: center;
    }

    .user i {
        display: inline-flex;
        color: #414d86;
        font-size: 25px;
        margin-right: 35px;
        display: inline-flex;
        text-align: center;
        align-items: center;
    }

    .fa-user i {
        display: inline-flex;
        color: #414d86;
        font-size: 25px;
        margin-right: 35px;
        display: inline-flex;
        text-align: center;
        align-items: center;
    }

    nav {
        background-color: #394476;
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: inline-flex;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    nav ul li {
        display: inline-flex;
        justify-content: space-around;
        margin: 13px 30px 0px 30px;
        padding-right: 20px;
        font-size: 12px;
    }

    nav ul li a {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: white;
    }

    nav ul li a:hover {
        color: #FF715B;
    }

    .sub-menu {
        position: absolute;
        display: none;
        list-style: none;
        width: 140px;
        top: 23%;
        padding: 0px;
        background-color: #394476;
        z-index: 1;
    }

    nav ul li:hover .sub-menu {
        display: block;
    }

    .sub-menu li a {
        display: block;
        font-family: 'Montserrat', sans-serif;
        color: white;
        padding: 15px 20px 15px 0px;
        font-weight: normal;
        text-decoration: none;
    }

    .sub-menu li:hover {
        background-color: #242F62;
        width: inherit;
        margin: auto;
    }

    .sub-menu li:hover a {
        color: #FF715B;
        margin: 10px;
    }


    main h2 {
        margin-top: 10px;
        padding: 5px;
    }

    .crea-archivo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
    }

    .left-options {
        display: flex;
        width: 100%;
        font-size: 18px;
        padding: 7px;
    }

    .foto-producto {
        border: none;
        padding:50% 40%;
        border-radius: 5px;
    }
    
    .foto-producto:hover {
        background-color: #FF715B;
        opacity: 60%;
        font-size: 70%;
        margin: auto;
        padding: 50% 15%;
    }

    .right-options {
        align-items: center;
        flex-direction: column;
        font-size: 22px;
        padding: 20px;
        text-align: left;
    }

    div .right-options{
        display: inherit;
        width: 60%;
        margin: 0% 10% 2% 0%;
        padding: 20px; 
    }


    .boton-crear {
        margin-top: 10px;
    }

    footer {
        background-color: #242F62;
    }

    .contenedor-footer {
        margin: 0px 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .top-nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        margin: 24px 35px 30px 10px;
    }

    .top-nav li a {
        font-family: 'Lilita One';
        color: #EDF2F4;
        font-size: 15px;
        margin: 0.5ch;
        padding: 8px 30px;
        border-top: solid 2px #8000FF;
        border-bottom: solid 2px #8000FF;
        border-radius: 1.5ch;
    }


    .bottom-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .bottom-nav p {
        position: relative;
        display: inline-flex;
        font-family: 'Lilita One';
        color: #EDF2F4;
        font-size: 18px;
        margin: 0px 20px 2px 20px;
        align-items: center;
    }

    .bottom-nav input {
        position: relative;
        width: 220px;
        background-color: black;
        color: #EDF2F4;
        border: solid 1px black;
        border-radius: 2ch;
        left: 22px;
        z-index: 5;
        padding: 5px 0px 5px 5px;
        font-size: 13px;
    }

    .bottom-nav button {
        position: relative;
        width: 100px;
        background-color: #8000FF;
        color: #EDF2F4;
        border-radius: 2ch;
        border: solid 1px #8000FF;
        z-index: 10;
        font-size: 14px;
        padding: 5px 0px;
    }

    .linea-divisoria4 {
        border: 0;
        height: 12px;
        margin: 25px 0px;
        box-shadow: inset 0 12px 12px -12px #EDF2F4;
    }


    .social-network ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 26px 20px 0px;
    }

    .social-network ul li {
        margin: 0px 30px;
        padding-right: 10px;
    }

    .inicio {
        padding-right: 3px;
    }

    .social-network ul li i {
        color: #FF715B;
    }
}

@media(min-width: 1200px) {

    .burger-menu {
        display: none;
    }

    .fa-bars {
        display: none;
    }

    .header-tres {
        margin: 0px 20px 5px 0px;
        padding: 50px 0px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .logo {
        display: inline-flex;
        width: 18%;
        margin-left: 25px;
    }

    .buscador-bar {
        display: flex;
        position: relative;
        align-items: center;
    }

    .buscador-bar input {
        font-family: 'Montserrat', sans-serif;
        margin-right: 10px;
        padding-left: 10px;
        width: 270px;
        height: 33px;
        border-radius: 1ch;
    }

    .buscador-bar i {
        position: absolute;
        font-size: 13px;
        right: 18px;
        top: 10px;
        font-weight: bold;
        color: #FF715B;
    }

    .buscador {
        display: inline;
        font-family: "Roboto", "sans-serif";
        font-size: 13px;
        border: solid 1px #ebebeb;
        align-items: center;
    }

    .carrito i {
        color: #FF715B;
        display: inline-flex;
        font-size: 28px;
        margin-left: 10px;
        text-align: center;
        align-items: center;
    }

    .user i {
        display: inline-flex;
        color: #414d86;
        font-size: 30px;
        margin-right: 30px;
        display: inline-flex;
        text-align: center;
        align-items: center;
    }

    .fa-user i {
        display: inline-flex;
        color: #414d86;
        font-size: 30px;
        margin-right: 30px;
        display: inline-flex;
        text-align: center;
        align-items: center;
    }

    nav {
        background-color: #394476;
        height: 50px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: inline-flex;
        padding: 10px 0px;
    }

    nav ul li {
        justify-content: space-around;
        padding-right: 22px;
        font-size: 11px;
    }

    nav ul li a {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: white;
    }

    nav ul li a:hover {
        color: #FF715B;
    }

    .sub-menu {
        position: absolute;
        display: none;
        list-style: none;
        width: 140px;
        top: 30%;
        padding: 0px;
        background-color: #394476;
        z-index: 1;
    }

    nav ul li:hover .sub-menu {
        display: block;
    }

    .sub-menu li a {
        display: block;
        font-family: 'Montserrat', sans-serif;
        color: white;
        padding: 15px 20px 15px 0px;
        font-weight: normal;
        text-decoration: none;
    }

    .sub-menu li:hover {
        background-color: #242F62;
        width: inherit;
        margin: auto;
    }

    .sub-menu li:hover a {
        color: #FF715B;
        margin: 10px;
    }

    .crea-archivo {
        width: 70%;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }

    .right-options {
        max-width: 530px;
        text-align: left;
    }

    footer {
        background-color: #242F62;
    }

    .contenedor-footer {
        margin: 0px 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .top-nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        margin: 24px 35px 30px 10px;
    }

    .top-nav li a {
        font-family: 'Lilita One';
        color: #EDF2F4;
        font-size: 20px;
        margin: 1ch;
        padding: 8px 50px;
        border-top: solid 2px #8000FF;
        border-bottom: solid 2px #8000FF;
        border-radius: 1.5ch;
    }

    .bottom-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .bottom-nav p {
        position: relative;
        display: inline-flex;
        font-family: 'Lilita One';
        color: #EDF2F4;
        font-size: 20px;
        margin: 0px;
        align-items: center;
    }

    .bottom-nav input {
        position: relative;
        width: 220px;
        background-color: black;
        color: #EDF2F4;
        border: solid 1px black;
        border-radius: 2ch;
        left: 22px;
        z-index: 5;
        padding: 5px 0px 5px 8px;
        font-size: 13px;
    }

    .bottom-nav button {
        position: relative;
        width: 140px;
        background-color: #8000FF;
        color: #EDF2F4;
        border-radius: 2ch;
        border: solid 1px #8000FF;
        z-index: 10;
        font-size: 14px;
    }

    .linea-divisoria4 {
        border: 0;
        height: 12px;
        margin: 25px 0px;
        box-shadow: inset 0 12px 12px -12px #EDF2F4;
    }


    .social-network ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 26px 20px 0px;
    }

    .social-network ul li {
        margin: 0px 30px;
        padding-right: 10px;
    }

    .inicio {
        padding-right: 3px;
    }

    .social-network ul li i {
        color: #FF715B;
    }
}

@media (min-width: 1440px) {

    .burger-menu {
        display: none;
    }

    .fa-bars {
        display: none;
    }

    .header-tres {
        margin: 0px 20px 5px 0px;
        padding: 50px 0px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .logo {
        display: inline-flex;
        width: 18%;
        margin-left: 25px;
    }

    .buscador-bar {
        display: flex;
        position: relative;
        align-items: center;
    }

    .buscador-bar input {
        font-family: 'Montserrat', sans-serif;
        margin-right: 10px;
        padding-left: 10px;
        width: 270px;
        height: 33px;
        border-radius: 1ch;
    }

    .buscador-bar i {
        position: absolute;
        font-size: 13px;
        right: 18px;
        top: 10px;
        font-weight: bold;
        color: #FF715B;
    }

    .buscador {
        display: inline;
        font-family: "Roboto", "sans-serif";
        font-size: 13px;
        border: solid 1px #ebebeb;
        align-items: center;
    }

    .carrito i {
        color: #FF715B;
        display: inline-flex;
        font-size: 28px;
        margin-left: 10px;
        text-align: center;
        align-items: center;
    }

    .user i {
        display: inline-flex;
        color: #414d86;
        font-size: 30px;
        margin-right: 30px;
        display: inline-flex;
        text-align: center;
        align-items: center;
    }

    .fa-user i {
        display: inline-flex;
        color: #414d86;
        font-size: 30px;
        margin-right: 30px;
        display: inline-flex;
        text-align: center;
        align-items: center;
    }

    nav {
        background-color: #394476;
        height: 50px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    nav ul li {
        justify-content: space-around;
        padding-right: 22px;
        font-size: 11px;
    }

    nav ul li a {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: white;
    }

    nav ul li a:hover {
        color: #FF715B;
    }

    .sub-menu {
        position: absolute;
        display: none;
        list-style: none;
        width: 140px;
        top: 34%;
        padding: 0px;
        background-color: #394476;
        z-index: 1;
    }

    nav ul li:hover .sub-menu {
        display: block;
    }

    .sub-menu li a {
        display: block;
        font-family: 'Montserrat', sans-serif;
        color: white;
        padding: 15px 20px 15px 0px;
        font-weight: normal;
        text-decoration: none;
    }

    .sub-menu li:hover {
        background-color: #242F62;
        width: inherit;
        margin: auto;
    }

    .sub-menu li:hover a {
        color: #FF715B;
        margin: 10px;
    }

    footer {
        background-color: #242F62;
    }

    .contenedor-footer {
        margin: 0px 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .top-nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        margin: 24px 35px 30px 10px;
    }

    .top-nav li a {
        font-family: 'Lilita One';
        color: #EDF2F4;
        font-size: 15px;
        margin: 1ch;
        padding: 8px 15px;
        border-top: solid 2px #8000FF;
        border-bottom: solid 2px #8000FF;
        border-radius: 1.5ch;
    }


    .bottom-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .bottom-nav p {
        position: relative;
        display: inline-flex;
        font-family: 'Lilita One';
        color: #EDF2F4;
        font-size: 18px;
        margin: 0px;
        align-items: center;
    }

    .bottom-nav input {
        position: relative;
        width: 320px;
        background-color: black;
        color: #EDF2F4;
        border: solid 1px black;
        border-radius: 2ch;
        left: 22px;
        z-index: 5;
        padding: 5px 0px 5px 5px;
        font-size: 15px;
    }

    .bottom-nav button {
        position: relative;
        width: 100px;
        background-color: #8000FF;
        color: #EDF2F4;
        border-radius: 2ch;
        border: solid 1px #8000FF;
        z-index: 10;
        font-size: 15px;
        padding: 5px 0px;
    }

    .linea-divisoria4 {
        border: 0;
        height: 12px;
        margin: 25px 0px;
        box-shadow: inset 0 12px 12px -12px #EDF2F4;
    }


    .social-network ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 26px 20px 0px;
    }

    .social-network ul li {
        margin: 0px 30px;
        padding-right: 10px;
    }

    .inicio {
        padding-right: 3px;
    }

    .social-network ul li i {
        color: #FF715B;
    }
}


@media (min-width: 1700px) {

    .sub-menu {
        position: absolute;
        display: none;
        list-style: none;
        width: 140px;
        top: 37%;
        padding: 0px;
        background-color: #394476;
        z-index: 1;
    }

}