<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->

    <!-- hoja de estilos - no lo incluyo en el archivo partials porque tengo 1 hoja de estilos por vista en vez de todo en una -->
    <!-- CONSULTAR - PORQUE EL LINK A LA HOJA DE ESTILOS ME QUEDA POR FUERA DEL HEAD QUE ES DONDE DEBE IR -->
   
    <link rel="stylesheet" href="/css/stylesCart.css">

    <%- include ('./partials/head') %> 

<!-- HEAD -->

<body>

    <!-- HEADER -->

    <%- include ('./partials/header') %> 

    <!-- /HEADER -->

    <main>

        <div class="contenedor-main">
            <div class="top-main">
                <img src="/img/pexels-alex-wolf-mx-14401746.jpg"  alt="imagen-producto">

                <div class="descripcion-producto">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <p>$XXXX,XX</p>
                    <button>Delete</button>
                </div>
                <div class="contador">
                    <p>-</p>
                    <p>1</p>
                    <p>+</p>
                </div>
            </div>

            <div class="middle-main">
                <p>Cupon</p>
                <div class="campo-de-texto">
                    <input type="text" placeholder="Codigo de descuento">
                    <button type="submit">Aplicar cupon</button>
                </div>
                <button type="submit">Actualizar carrito</button>
            </div>

            <div class="bottom-main">
                <p>Total carrito</p>
                <div class="subtotales">
                    <p>Subtotal</p>
                    <p>$XXXX,XX</p>
                </div>
                <div class="envio">
                    <p>Envio</p>
                    <input type="text" placeholder="Direccion">
                </div>
                <div class="finalizar">
                    <p>Total</p>
                    <P>$XXXX,XX</P>
                    <button type="submit">Finalizar</button>
                </div>
            </div>
        </div>

    </main>

    <!-- FOOTER -->

    <%- include ('./partials/footer') %> 

    <!-- /FOOTER -->

</body>
</html>