<!DOCTYPE html>
<html lang="en">

    <!-- head -->

    <!-- hoja de estilos -->

    <link rel="stylesheet" href="/css/stylesRegister.css">

    <%- include ('./partials/head') %> 

    <!-- /head -->

<body>

    <!-- header -->

    <%- include ('./partials/header') %> 

    <!-- /header -->

    <main>
        <div class="contenedor-main">

            <div class="top-main">
                <p>Bienvenid@ a HouseClothing!</p>

                <p>LOG IN</p>
            </div>

            <div class="bottom-main">
                <div class="campos-de-texto">
                    <input type="text" placeholder="Nombre de Usuario o mail">
                    <input type="text" placeholder="Contrasena">
                </div>
                <div class="botonera">
                    <a href="#"><input type="checkbox">Recuerdame</a>
                    <a href="#"><button>Login</button></a>
                    <a href="#">Olvidaste la contrasena?</a>
                </div>
            </div>

        </div>
    </main>

    <!-- footer -->

    <%- include ('./partials/footer') %> 

    <!-- /footer -->

</body>
</html>