<footer>

    <div class="contenedor-footer">
        <nav class="footer-nav">
            <div class="top-nav">
                <ul class="footer-top-menu">
                    <li><a href="#">Seccion1</a></li>
                    <li><a href="#">Seccion2</a></li>
                    <li><a href="#">Seccion3</a></li>
                    <img src="/img/ball.jpg" alt="ball logo">
                </ul>
            </div>
            <div class="bottom-nav">
                <p>Suscribite al newsletter!</p>
                <input class="footer-menu" type="email" placeholder="Introduce tu email">
                <button type="submit">Suscribite!</button>
            </div>
        </nav>
        <hr>
            <div class="social-network">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></li>
                </ul>
            </div>
        </div>



</footer>