<header>
    <!-- div contenedor -->
    <div class="contenedor">

        <!-- header con etiqueta nav - main nav -->
        <nav class="nav-main">
            <div class="main-nav-top">
            <!-- logo -->
            <div class="logo">
                <i class="fa-solid fa-bars"></i>
                <img src="/img/ball.jpg" alt="ball logo">
            </div>

                <!--  search bar -->
                <div class="search-bar">
                    <input type="search" name="searchAnything" placeholder="Buscar" size="25" class="searchbar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                
                <!-- icons en navigation - left nav -->
                <div class="nav-icons">
                    <ul class="nav-menu-izq">
                        <li>
                            <a href="/login"><i class="fa-solid fa-user"></i></a>
                        </li>

                        <li>
                            <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- navigation right-->
            <div class="main-nav-bottom">
                <ul class="nav-menu">
                    <li><a href="#">Seccion1</a></li>
                    <li><a href="#">Seccion2</a></li>
                    <li><a href="#">Seccion3</a></li>
                    <li><a href="#">Seccion4</a></li>
                </ul>
            </div>


        </nav>
    </div>

    <hr>
</header>