<!DOCTYPE html>
<html lang="en">

<!-- head -->

<%- include("./partials/head") %>

    <!-- hoja de estilos -->

    <link rel="stylesheet" href="/css/stylesRegister.css">

    <body>

        <!-- header -->

        <%- include("./partials/header") %>


            <main>

                <div class="contenedor-main">
                    <div class="top">
                        <p>Home > Login > Registro </p>
                        <p>CREA TU CUENTA</p>
                    </div>

                    <hr class="linea-divisoria2">

                    <form action="/usuarios/crearcuenta" name="file" method="POST" class="bottom" enctype="multipart/form-data">

                        <div class="campos-de-relleno">
                            <p>Nombre</p>
                            <input type="text" placeholder="Nombre" name="firstname">
                        </div>

                        <div class="campos-de-relleno">
                            <p>Apellido</p>
                            <input type="text" placeholder="Apellido" name="lastname">
                        </div>

                        <div class="campos-de-relleno">
                            <p>Email</p>
                            <input name="email" type="email" placeholder="direccion@demail.com" >
                        </div>

                        <div class="campos-de-relleno">
                            <p>Telefono</p>
                            <input name="phone" type="tel" placeholder="num. de teléfono" >
                        </div>

                        <div class="campos-de-relleno">
                            <p>Contrasena</p>
                            <input name="password" type="password" placeholder="**********" minlength="8" >

                            <div>
                                <input type="file" name="profile-picture">
                            </div>

                            <div class="botones">
                                <button type="submit" class="boton2">Creá tu cuenta</button>
                            </div>

                    </form>

                </div>


                </div>

            </main>

            <!-- footer -->

            <%- include("./partials/footer") %>

    </body>

</html>