<!DOCTYPE html>
<html lang="en">

<!-- head -->

<%- include("./partials/head") %>

    <!-- hoja de estilos -->

    <link rel="stylesheet" href="/css/stylesRegister.css">

    <body>

        <!-- header -->

        <%- include("./partials/header") %>


            <main>

                <div class="contenedor-main">
                    <div class="top">
                        <p>Home > Login > Registro </p>
                        <p>CREA TU CUENTA</p>
                    </div>

                    <hr class="linea-divisoria2">

                    <form action="/crearcuenta" method="POST" class="bottom">

                        <div class="campos-de-relleno">
                            <p>Nombre y Apellido</p>
                            <input type="text" placeholder="Nombre y Apellido" required>
                        </div>

                        <div class="campos-de-relleno">
                            <p>Email</p>
                            <input type="email" placeholder="direccion@demail.com" required>
                        </div>

                        <div class="campos-de-relleno">
                            <p>Telefono</p>
                            <input type="tel" placeholder="num. de teléfono" required>
                        </div>

                        <div class="campos-de-relleno">
                            <p>Contrasena</p>
                            <input type="password" placeholder="**********" minlength="8" required>


                        <div class="botones">
                            <a href="/iniciarsesion"><button type="submit" class="boton2">Creá tu cuenta</button></a>
                        </div>
                    </form>

                </div>


                </div>

            </main>

            <!-- footer -->

            <%- include("./partials/footer") %>

    </body>

</html>