<!DOCTYPE html>
<html lang="en">

<!-- head -->

<%- include("./partials/head") %>

    <!-- hoja de estilos -->

    <link rel="stylesheet" href="/css/stylesRegister.css">

    <body>

        <!-- header -->

        <%- include("./partials/header") %>


            <main>

                <div class="contenedor-main">
                    <div class="top">
                        <p>Home > Login > Registro </p>
                        <p>CREA TU CUENTA</p>
                    </div>

                    <hr class="linea-divisoria2">
 
                        <form action="/usuarios/crearusuario" method="POST" class="bottom">
                            <div class="campos-de-relleno">
                               <label for="id">ID del usuario</label>
                               <input type="text" name="id" id="id" required>
                            </div>
                            <div class="campos-de-relleno">
                               <label for="nombre">nombre</label>
                               <input type="text" name="nombre" placeholder="Nombre" required>
                            </div>
                            <div class="campos-de-relleno">
                               <label for="apellido">Apellido</label>
                               <input type="text" name="apellido" placeholder="Apellido" required>
                            </div>
                            <div class="campos-de-relleno">
                               <label for="email">Email</label>
                               <input type="email" name="email" placeholder="direccion@demail.com" required>
                            </div>
                            <div class="campos-de-relleno">
                               <label for="contraseña">Email</label>
                               <input type="password" name="contraseña" placeholder="**********" minlength="8" required>
                            </div>

                            <div class="botones">
                              <button type="submit" class="boton2">Creá tu cuenta</button></a>
                            </div>
                        </form>
                    </div>
                </div>


                </div>

            </main>

            <!-- footer -->

            <%- include("./partials/footer") %>

    </body>

</html>