<!DOCTYPE html>
<html lang="en">

  <!-- head -->

<%- include("./partials/head") %>

<!-- hoja de estilos -->
<link rel="stylesheet" href="css/normalize.css">
<link href="/css/catalogo-style.css" rel="stylesheet">

<body>
    <!-- header -->

    <%- include("./partials/header") %>

    <main>

      <h4>Productos</h4>

      <hr>

      <div class="productos">
        <section class="global">
          <h2>Global</h2>
          <div>
            <article class="espacio-producto">

            </article>
            <article class="espacio-producto">

            </article>
            <article class="espacio-producto">

            </article>
          </div>
          
        </section>
        
      </div>

    </main>
    
     <!-- footer -->

     <%- include("./partials/footer") %>

</body>
</html>