<!DOCTYPE html>
<html lang="en">

  <!-- head -->

<%- include("./partials/head") %>

<!-- hoja de estilos -->
<link rel="stylesheet" href="css/normalize.css">
<link href="/css/catalogo-style.css" rel="stylesheet">

<body>
    <!-- header -->

    <%- include("./partials/header") %>

    <main>

    </main>
    
     <!-- footer -->

     <%- include("./partials/footer") %>

</body>
</html>