<!DOCTYPE html>
<html lang="en">

<!-- head -->

<%- include("./partials/head") %>

    <!-- hoja de estilos -->
    <link rel="stylesheet" href="css/normalize.css">
    <link href="/css/edicion-styles.css" rel="stylesheet">

    <body>
        <!-- header -->

        <%- include("./partials/header") %>

            <main>
                <div class="edita-archivo">
                    <div class="left-options">
                        <h2> Edición de Productos </h2>
                        <button class="foto-producto" type="submit">
                              <img class="img-prueba" src="/img/img-cafetera-moulinex.jpg" alt="buttonjpg">
                        </button>
                    </div>

                    <div class="right-options">
                        <form action="/ID" method="POST">
                             <label for="nombre">ID de producto a editar</label>
                            <input type="Descrpción" name="nombre" id="ID">
                        </form>
                        <form action="/ID" method="POST">
                            <label for="nombre">Nuevo nombre</label>
                            <input type="Descrpción" name="nombre" id="ID">
                        </form>
                        <form action="/ID" method="POST">
                            <label for="nombre">Precio</label>
                            <input type="Descrpción" name="nombre" id="ID">
                        </form>
                        <form action="/ID" method="POST">
                               <label for="categoria">Categorías</label>
                               <select name="categorias" id="Categoría">
                                   <option value="buzo">Buzos</option>
                                   <option value="calzado">Calzado</option>
                                   <option value="pantalon">Pantalon</option>
                                   <option value="remeras">Remeras</option>
                               </select>
                       </form>
                       <form action="/ID" method="POST">
                           <label for="Talles">Talles</label>
                           <select name="Talles" id="Talles">
                              <option value="Small">S</option>
                              <option value="Medium">M</option>
                              <option value="Large">L</option>
                              <option value="ExtraLarge">XL</option>
                             </select>
                      </form>
                      <form class="descripcion" action="/ID" method="POST">
                          <label for="Descripción">Descripción</label>
                          <textarea name="comentario" id="comentario"> Inserte la Descripción del producto </textarea>
                      </form>
                      <button class="boton-editar" type="button">Editar</button>
                  </div>
              </div>
          </main>

            <!-- footer -->

            <%- include("./partials/footer") %>

    </body>

</html>